[Unit]
Description=CI/CD product app
After=network.target

[Service]
Type=simple
ExecStart=/opt/wsi-product/product
Restart=always
RestartSec=3
User=ec2-user
Environment=PORT=8080

[Install]
WantedBy=multi-user.target